  PYTHON
##########

*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__


  MAC OS X
############

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


  WINDOWS
###########

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


  VIRTUALENV
##############

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts