<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Adam</title>

    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/style.less') }}">

</head>

<body>

    <header id="banner">
        <h1>Adam</h1>
        <nav>
            <ul>
                <li><a {% if request.path == '/home' or request.path == '/' %}class="active" {% endif %}href="{{ url_for('home') }}">Home</a></li>
                <li><a {% if request.path == '/skills' %}class="active" {% endif %}href="{{ url_for('skills') }}">Skill List Test</a></li>
            </ul>
        </nav>
        <div style="clear:both"></div>
    </header>

    <section id="content">
        {% block content %}
        {% endblock %}
    </section>

    <script src="{{ url_for('static', filename='js/less.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

</body>
</html>
