{% extends "layout.html" %}

{% block content %}
    <article class="introduction">
        <header><h3>What do we need to do?</h3></header>
        <div class="content">
            <p>These aren't prioritized yet.</p>
            <ul>
                <li>Character Sheet</li>
                <li>Skill Planner</li>
                <li>Background checks</li>
                <li>Corporation informatics</li>
                <li>Market data</li>
                <li>Manufacturing Calculation</li>
                <li>Research & Development stuff</li>
            </ul>
        </div>
    </article>
{% endblock %}
